{% extends "base.html" %}
{% load static %}
{% block css_content %}
{% endblock %}
{% block content %}
<br/>
<h1 style="text-align: center; color: #ad542b;">Chatra Vishwakarma Award-2020</h1>
<h2 style="text-align: center; color: #236015;"> Accident Alert & Rescue System </h2>

<div style="margin:auto; display:block; width:fit-content;">
<img src="{% static 'img\sih.jpeg' %}" class="rounded mx-auto d-block"  width="400px">
</div>
<p style="text-align:justify; margin: 20px; font-family: Arial, Helvetica, sans-serif; font-size:20px;">
        This Site is a part of the solution for the problem statement,
        in <span style="color:darkred;">"Chatra Vishwakarma Award 2020"</span> to solve the accidents issue
        raging day by day in India , making use of the  technologies like IOT, GIS location
        and Embedded System.
</p>

{% endblock %}
