{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <h1 align='center' style="font-family:Arial, Helvetica, sans-serif;">About</h1>
        <div style="text-align: justify; width: fit-content; background-color: rgba(222, 233, 222, 0.76); border-radius: 10px; box-shadow: 0 0 5px 0 black;">
            <p style=" margin:20px; padding: 20px; font-size:20px;font-family: Arial, Helvetica, sans-serif; word-wrap: normal;">
                This Idea is emerged due to increasing rate of Accidents
                on the roads and the casuality rate is far more than that,
                all because either the person wouldn't get help in the 
               <span style="color:red;">"golden hour"</span> of medication or no one is nearby to help.
                So we have found a all time solution for it, using the 
                developing technology.
                <span style="color:red;">"Accident Alert System"</span>
                Using the GPS that will be installed in the car, the emer-
                gency request will be sent to the respective authorized or
                register authority(eg: Police Station , Hospitals etc) the
                cordinates of the the person Accident location would be send
                on the server of our website where hospitals and police stat-
                ion and help will be send to that person.
            </p>
            <h4 align='center'> &copy Golden Hour Rescue </h4>
        </div>
    </body>
</html>
{% endblock%}